<div class="bg-light pt-5 mt-4">
  <!-- Material form login -->
  <mdb-card class="col-md-8 offset-md-2">

    <mdb-card-header class="info-color white-text text-center py-4 dark unique-color mt-3">
      <h5>
        <strong>Register</strong>
      </h5>
    </mdb-card-header>


    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">

      <!-- Form -->
      <form class="text-center" style="color: #757575;">

        <!-- Email -->
        <div class="md-form">
          <input [(ngModel)]="registerDetails.fName" class="form-control" id="materialLoginFormFName" mdbInput
                 name="fName" type="text">
          <label for="materialLoginFormFName">First Name</label>
        </div>

        <!-- Email -->
        <div class="md-form">
          <input [(ngModel)]="registerDetails.lName" class="form-control" id="materialLoginFormLName" mdbInput
                 name="lName" type="text">
          <label for="materialLoginFormLName">Last Name</label>
        </div>

        <!-- Email -->
        <div class="md-form">
          <input [(ngModel)]="registerDetails.mName" class="form-control" id="materialLoginFormMName" mdbInput
                 name="mName" type="text">
          <label for="materialLoginFormMName">Middle Name</label>
        </div>


        <!-- Email -->
        <div class="md-form" style="height: 20px;">
          <input [(ngModel)]="registerDetails.address" class="form-control" id="materialLoginFormAddress" mdbInput
                 name="address" type="text">
          <label for="materialLoginFormAddress">Address</label>
        </div>
        <div class="md-form row" style="height: 40px;">
          <!-- Email -->
          <div class="md-form col-md-6">
            <input [(ngModel)]="registerDetails.state" class="form-control" id="materialLoginFormState" mdbInput
                   name="state" type="text">
            <label style="padding-left: 20px;" for="materialLoginFormState">State</label>
          </div>

          <!-- Email -->
          <div class="md-form col-md-6">
            <input [(ngModel)]="registerDetails.city" class="form-control" id="materialLoginFormCity" mdbInput
                   name="city" type="text">
            <label for="materialLoginFormCity">City</label>
          </div>
        </div>

        <div class="md-form row" style="height: 60px;">

          <!-- Email -->
          <div class="md-form col-md-6" >
            <input [(ngModel)]="registerDetails.pincode" class="form-control" id="materialLoginFormPincode" mdbInput
                   name="pincode" type="number">
            <label style="padding-left: 20px;" for="materialLoginFormPincode">Pincode</label>
          </div>

          <!-- Email -->
          <div class="md-form col-md-6">
            <input [(ngModel)]="registerDetails.phone" class="form-control" id="materialLoginFormContactNo" mdbInput
                   name="phone" type="number">
            <label for="materialLoginFormContactNo">Contact No</label>
          </div>
        </div>


        <div class="md-form row" style="height: 60px;">

          <!-- Email -->
          <div class="md-form col-md-4">
            <input [(ngModel)]="registerDetails.birthDate" class="form-control" id="materialLoginFormBirthdate" mdbInput
                   name="birthdate" type="date">
            <label style="padding-left: 20px;" for="materialLoginFormBirthdate">Birthdate</label>
          </div>
          <!-- Email -->
          <div class="md-form col-md-6">
            <strong>Gender</strong>&nbsp;
            <select (change)="selectChangeHandler($event)" [(ngModel)]="registerDetails.gender" class="browser-default custom-select"
                    name="gender" style="width: 300px;">
              <option disabled selected>Select option</option>
              <option value="MALE">Male</option>
              <option value="FEMALE">Female</option>
            </select>
          </div>
        </div>

        <!-- Email -->
        <div class="md-form">
          <input [(ngModel)]="registerDetails.enrollment" class="form-control" id="materialLoginFormEnrollment"
                 mdbInput name="enrollment" type="number">
          <label for="materialLoginFormEnrollment">Enrollment No</label>
        </div>
                <!-- Password -->
                <div class="md-form" style="height: 15px;">
                    <strong>Post Graduation Diploma In </strong>&nbsp;
                    <select (change)="selectChangeHandler($event)" name="trackId" [(ngModel)]="registerDetails.trackId" class="browser-default custom-select" style="width: 300px;">
                      <option disabled selected>Select option</option>
                      <option value="1">DAC</option>
                      <option value="2">DBDA</option>
                      <option value="3">DMC</option>
                      <option value="4">DESD</option>
                    </select>

                  </div>

        <!-- Email -->
        <div class="md-form">
          <input [(ngModel)]="registerDetails.email" class="form-control" id="materialLoginFormEmail" mdbInput
                 name="email" type="text">
          <label for="materialLoginFormEmail">E-mail</label>
        </div>
        <!-- Password -->
        <div class="md-form">
          <input [(ngModel)]="registerDetails.password" class="form-control" id="materialLoginFormPassword" mdbInput
                 name="password" type="password">
          <label for="materialLoginFormPassword">Password</label>
        </div>

        <!-- Password -->
        <div class="md-form">
          <input [(ngModel)]="registerDetails.cpassword" class="form-control" id="materialLoginFormCPassword"
                 mdbInput name="cpassword" type="password">
          <label for="materialLoginFormCPassword">Conform Password</label>
        </div>
        <div *ngIf="showMessage" class="alert alert-danger mt-3" role="alert">
          {{message}}
        </div>


        <!-- Sign in button -->
        <button (click)="Insert()" block="true" class="my-4 waves-effect z-depth-0" color="info" mdbBtn mdbWavesEffect
                outline="true" rounded="true">Sign in
        </button>

        <!-- Register -->
        <p>Already member?
          <a href="/login">Login</a>
        </p>


      </form>
      <!-- Form -->

    </mdb-card-body>

  </mdb-card>
  <!-- Material form login -->
</div>
