// .intro-header {
//   height: unset !important;
// }
// .intro-2 {
//   background: url("https://mdbootstrap.com/img/Photos/Others/img%20(42).jpg")no-repeat center center;
//   background-size: cover;
// }
// .view {
//   height: 100vh !important;
// }
// .top-nav-collapse {
//   background-color: #3f51b5 !important;
// }
// .navbar:not(.top-nav-collapse) {
//   background: transparent !important;
// }
// @media (max-width: 768px) {
//   .navbar:not(.top-nav-collapse) {
//     background: #3f51b5 !important;
//   }
// }
// .rgba-gradient .full-bg-img {
//   background: linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
// }
// .full-bg-img {
//   height: 100%;
// }
// .card {
//   background-color: rgba(229, 228, 255, 0.2);
// }
// .md-form .prefix {
//   font-size: 1.5rem;
//   margin-top: 1rem;
// }
// .md-form label {
//   color: #ffffff;
// }
// h6 {
//   line-height: 1.7;
// }
// @media (max-width: 740px) {
//   .full-height,
//   .full-height body,
//   .full-height header,
//   .full-height header .view {
//     height: 1040px;
//   }
// }
/*custom font*/
@import "https://fonts.googleapis.com/css?family=Montserrat";
/*basic reset*/
/*form styles*/
/*Hide all except first fieldset*/
/*inputs*/
/*buttons*/
/*headings*/
/*progressbar*/
/*progressbar connectors*/
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
/* Not relevant to this form */
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background: -webkit-linear-gradient(to left, #6441A5, #2a0845);
}

body {
  font-family: montserrat, arial, verdana;
  background: transparent;
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 30px;

  fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;

    &:not(:first-of-type) {
      display: none;
    }
  }

  input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;

    &:focus {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border: 1px solid #ee0979;
      outline-width: 0;
      transition: All 0.5s ease-in;
      -webkit-transition: All 0.5s ease-in;
      -moz-transition: All 0.5s ease-in;
      -o-transition: All 0.5s ease-in;
    }
  }

  textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;

    &:focus {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border: 1px solid #ee0979;
      outline-width: 0;
      transition: All 0.5s ease-in;
      -webkit-transition: All 0.5s ease-in;
      -moz-transition: All 0.5s ease-in;
      -o-transition: All 0.5s ease-in;
    }
  }

  .action-button {
    width: 100px;
    background: #ee0979;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;

    &:hover {
      box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
    }

    &:focus {
      box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
    }
  }

  .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;

    &:hover {
      box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
    }

    &:focus {
      box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
    }
  }
}

.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;

  li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;

    &:before {
      content: counter(step);
      counter-increment: step;
      width: 24px;
      height: 24px;
      line-height: 26px;
      display: block;
      font-size: 12px;
      color: #333;
      background: white;
      border-radius: 25px;
      margin: 0 auto 10px auto;
    }

    &:after {
      content: '';
      width: 100%;
      height: 2px;
      background: white;
      position: absolute;
      left: -50%;
      top: 9px;
      z-index: -1;
    }

    &:first-child {
      &:after {
        content: none;
      }
    }
  }

  li.active {
    &:before {
      background: #ee0979;
      color: white;
    }

    &:after {
      background: #ee0979;
      color: white;
    }
  }
}

.dme_link {
  margin-top: 30px;
  text-align: center;

  a {
    background: #FFF;
    font-weight: bold;
    color: #ee0979;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;

    &:hover {
      background: #C5C5F1;
      text-decoration: none;
    }

    &:focus {
      background: #C5C5F1;
      text-decoration: none;
    }
  }
}

.md-form {
  text-align: left;
}

.mdb-card {
  height: 500px;
}
.menu{
  height: 20px;
  line-height: 20px;
  padding: 15px;
  border: 1px solid #666;
}
