<!-- Footer -->
<footer class="page-footer font-small dark unique-color">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5" style="height: 80px;">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <mdb-icon class="white-text mr-md-5 mr-3" fab icon="facebook" size="2x"></mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <mdb-icon class="white-text mr-md-5 mr-3" fab icon="twitter" size="2x"></mdb-icon>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <mdb-icon class="white-text mr-md-5 mr-3" fab fab icon="google-plus" size="2x"></mdb-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <mdb-icon class="white-text mr-md-5 mr-3" fab icon="linkedin" size="2x"></mdb-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <mdb-icon class="white-text mr-md-5 mr-3" fab icon="instagram" size="2x"></mdb-icon>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <mdb-icon class="white-text mr-md-5 mr-3" fab icon="pinterest" size="2x"></mdb-icon>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href=""> PlacementCell.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
