<mdb-carousel [animation]="'fade'" class="carousel slide carousel-fade">
  <mdb-carousel-item>
    <div class="view w-100" style="height: 800px;">
      <img alt="First slide" class="d-block w-100" style="height: 800px;" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption ">
      <h3 class="h5-responsive">
        <!-- Material form login -->
        <mdb-card class="example hoverable offset-md-2" style="width: 700px;">

          <mdb-card-header class="info-color white-text text-center py-4 dark unique-color">
            <h5>
              <strong>Sign in</strong>
            </h5>
          </mdb-card-header>


          <!--Card content-->
          <mdb-card-body class="px-lg-5 pt-0">

            <!-- Form -->
            <form [formGroup]="validatingForm" class="text-center" style="color: #757575;">

                <div *ngIf="showMessage" class="alert alert-danger mt-3" role="alert">
                    {{message}}
                  </div>
              <!-- Email -->
              <div class="md-form">
                <input [(ngModel)]="userdetails.email" class="form-control" formControlName="email" id="materialLoginFormEmail" mdbInput
                       mdbInput mdbValidate name="email" type="email">
                <label for="materialLoginFormEmail">E-mail</label>
                <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Input invalid</mdb-error>
                <mdb-success *ngIf="email.valid && (email.dirty || email.touched)">Input valid</mdb-success>
              </div>

              <!-- Password -->
              <div class="md-form">
                <input [(ngModel)]="userdetails.password" class="form-control" formControlName="password" id="materialLoginFormPassword" mdbInput
                       mdbInput mdbValidate name="password" type="password">
                <label for="materialLoginFormPassword">Password</label>
                <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">Input invalid</mdb-error>
                <mdb-success *ngIf="password.valid && (password.dirty || password.touched)">Input valid</mdb-success>
              </div>

              <div class="d-flex justify-content-around">
                <div>
                  <!-- Remember me -->
                  <mdb-checkbox>Remember me</mdb-checkbox>
                </div>
                <div>
                  <!-- Forgot password -->
                  <a href="">Forgot password?</a>
                </div>
              </div>

              <!-- Sign in button -->
              <button (click)='signin()' block="true" class="my-4" color="info" mdbBtn type="submit">Sign in</button>

              <!-- Register -->
              <div class="row">
              <div class="col-md-6">

              <p>Not a member?
                <a routerLink="/register">Register</a>
              </p>
            </div>
              <div class="col-md-6">

              <p>For Company
                  <a routerLink="/cmpregister">Register</a>
                </p>

              </div>
            </div>


              <!-- Social login -->
              <p>or sign in with:</p>
              <a color="fb" floating="true" mdbBtn size="sm" type="button">
                <mdb-icon fab icon="facebook"></mdb-icon>
              </a>
              <a color="tw" floating="true" mdbBtn size="sm" type="button">
                <mdb-icon fab icon="twitter"></mdb-icon>
              </a>
              <a color="li" floating="true" mdbBtn size="sm" type="button">
                <mdb-icon fab icon="linkedin"></mdb-icon>
              </a>
              <a color="git" floating="true" mdbBtn size="sm" type="button">
                <mdb-icon fab icon="github"></mdb-icon>
              </a>

            </form>
            <!-- Form -->

          </mdb-card-body>

        </mdb-card>
        <!-- Material form login -->

      </h3>
    </div>
  </mdb-carousel-item>
</mdb-carousel>


<!-- <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">

            <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
            (click)="frame.show()" mdbWavesEffect>Launch Modal</button>

          <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
               aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mx-3">
                  <div class="md-form mb-5">
                    <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
                    <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control"
                           mdbInput mdbValidate>
                    <label for="defaultForm-email">Your email</label>
                    <mdb-error
                      *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
                      Input invalid
                    </mdb-error>
                    <mdb-success
                      *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">Input
                      valid
                    </mdb-success>
                  </div>

                  <div class="md-form mb-4">
                    <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
                    <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword" class="form-control"
                           mdbInput mdbValidate>
                    <label for="defaultForm-pass">Your password</label>
                    <mdb-error
                      *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
                      Input invalid
                    </mdb-error>
                    <mdb-success
                      *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
                      Input valid
                    </mdb-success>
                  </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <button mdbBtn color="default" class="waves-light" mdbWavesEffect>Login</button>
                </div>
              </div>
            </div>
          </div>


        </h3>
        <p>First text</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
 -->
